h1 {
    text-align: center;
    font-family: sans-serif;
   }

   #game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: sans-serif;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .filled-box {
    border: 2px solid black;
  }
  
  .letter-row {
    display: flex;
    font-family: sans-serif;
  }

  .first-row{
      align-items: center;
      align-content: center;
      margin-top: 1em;
      margin-left: 20em;
  }
  .second-row{
    align-items: center;
    align-content: center;
    margin-top: 1em;
    margin-left: 22em;
}

.third-row{
    align-items: center;
    align-content: center;
    margin-top: 1em;
    margin-left: 22em;
}

    .keyboard-button{
        align-items: center;
        align-content: center;
        margin: 0.1em;
        font-size: 2em;
        padding: 0.1em;
        min-height: 1.5em;
        min-width: 1.5em;
    }

.toast-message{
    font-family: sans-serif;
}

.splash{
  z-index: 9;
  position: absolute;
  width: 20rem;
  height: 30rem;
  background: white;
  z-index: 200;
  color: black;
  text-align: center;
  line-height: 20vh;
  border-width: 0.3rem;
  border-color: black;
  align-content: center;
  display: float;
  border-style: solid;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn{
  to{
    opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

h4{
  font-family: sans-serif
}